<html>
    <head>
        <title><%=typeof title == 'undefined' ? 'nTalk' : title + ' - nTalk'%></title>
        <link rel="stylesheet" href="https://ntalk-bashz.rhcloud.com/min/production.min.css?refresh=v2">
        <!--<link rel="stylesheet" href="/min/production.min.css">-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <script>
            var flashEnums = {error: "red", warning: "yellow", info: "blue", log: "white"};
            var flash = function (type, text) {
              if (!flashEnums[type]) {
                console.warn("unreconized flash type");
                return;
              }
              document.getElementById(type).style = "display: block";
              document.getElementById(type).append(document.createTextNode(text));
            }
            var proccessResponse = function (res, cb) {
              if (!res.data || !res.flash)
                return cb(res);
              if (res.flash.log) {
                console.log(res.flash.log);
                return cb(res.data);
              }
              if (res.flash.error)
                flash("error", res.flash.error);
              else if (res.flash.warning)
                flash("warning", res.flash.warning);
              else if (res.flash.info)
                flash("info", res.flash.info);
              if (res.data)
                return cb(res.data);
            }
        </script>
        <script>
            (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) {
                return;
              }
              js = d.createElement(s);
              js.id = id;
              js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'Messenger'));
        </script>
        <span id="error" style="display: none" class="isa_error"></span>
        <span id="warning" style="display: none" class="isa_warning"></span>
        <span id="info" style="display: none" class="isa_info"></span>
        <%- body %>
    </body>
</html>
