<figure class="snip0056 red">
    <figcaption>
        <h2 id="fname"> <span id="lname"></span></h2>
        <ul id="perks">
            <li id="status"></li>
            <li id="gender"></li>
            <li id="peer"></li>
            <li id="hub"></li>
            <li id="language"></li>
            <li id="timezone"></li>
        </ul>
    </figcaption>
    <div class="image"><img id="image" src=""/></div>
    <div class="position" id="position"></div>
</figure>
<div style="clear: both"></div>
<script>
    var tags = document.getElementById('tags');
    var countries = document.getElementById("countries");
    var interestedBy = document.getElementsByName("gender");
    var getFbUser = function (id, cb) {
      var url = "/user/fb/" + id;
      var xhr = new XMLHttpRequest();
      xhr.open("GET", url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
          if (xhr.status == 200) {
            cb(JSON.parse(xhr.responseText));
          } else {
            flash("error", "Error while trying to connect to the API");
          }
        }
      };
      try {
        xhr.send(null);
      } catch (e) {
        flash("error", "XHR failed for " + url + ", " + e);
      }
    };
    var updateProfile = function (user) {
      document.getElementById('fname').innerHTML = user.first_name + " <span>" + user.last_name + "</span>";
      document.getElementById('status').textContent = user.connected ? "online" : "offline";
      document.getElementById('gender').textContent = user.gender === "male" ? "man" : "women";
      document.getElementById('peer').innerHTML = user.peer ? "Talking with: <b>" + user.peer.first_name + " " + user.peer.last_name + "</b>" : "";
      document.getElementById('hub').innerHTML = user.room ? "In the hub: <b>" + user.room.name + "</b>" : "";
      document.getElementById('timezone').textContent = "Timezone: " + user.timezone;
      document.getElementById('language').textContent = "Language: " + user.locale.slice(0, 2);
      document.getElementById('image').src = user.profile_pic;
      document.getElementById('position').textContent = "Tags: " + user.tags.map(function (tag) {
        return "#" + tag;
      }).join(" ");
    }
    var process = function (id) {
      getFbUser(id, function (raw) {
        proccessResponse(raw, function (user) {
          updateProfile(user);
        });
      });
    };
    var path = window.location.pathname.match(/^\/profile\/(([0-9]|[a-f])+)/);
    process(path[1]);
</script>