figure.snip0056 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 200px;
    height: 400px;
    width: 100%;
    background: #ffffff;
    color: #000000;
}
figure.snip0056 ul{
    list-style: none;
}
figure.snip0056 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
figure.snip0056 .image {
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
}
figure.snip0056 .image img {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    z-index: 1;
    -webkit-transform: skew(15deg);
    transform: skew(15deg);
}
figure.snip0056 figcaption {
    padding: 40px 30px 0px 20px;
    position: relative;
    float: right;
    right: 0;
    bottom: 10px;
    width: 50%;
}
figure.snip0056 figcaption h2,
figure.snip0056 figcaption p {
    margin: 0;
    text-align: right;
    padding: 10px 0;
    width: 100%;
}
figure.snip0056 figcaption h2 {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0056 figcaption h2 span {
    font-weight: 800;
}
figure.snip0056 figcaption p {
    font-size: 0.9em;
    opacity: 0.8;
}
figure.snip0056 figcaption a {
    opacity: 0.3;
}
figure.snip0056 figcaption a:hover {
    opacity: 0.8;
}
figure.snip0056 .position {
    font-weight: 600;
    text-shadow: 0px 0px 1px #a9ff00;
    position: absolute;
    bottom: 0;
    width: 98%;
    text-align: right;
    padding: 15px 30px;
    font-size: 0.9em;
    opacity: 1;
    font-style: italic;
    color: #ffffff;
    background: #000000;
}
figure.snip0056.blue .position {
    background: #20638f;
}
figure.snip0056.red .position {
    background: #962d22;
}
figure.snip0056.yellow .position {
    background: #bf6516;
}
figure.snip0056:hover figcaption,
figure.snip0056.hover figcaption {
    bottom: 40px;
}
figure.snip0056:hover .icons i,
figure.snip0056.hover .icons i {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
figure.snip0056:hover:before,
figure.snip0056.hover:before {
    -webkit-animation: shadow 0.6s ease-in-out;
    animation: shadow 0.6s ease-in-out;
}
@-webkit-keyframes shadow {
    0% {
        left: 0px;
    }
    50% {
        left: -5px;
    }
    100% {
        left: 0px;
    }
}
@keyframes shadow {
    0% {
        left: 0px;
    }
    50% {
        left: -5px;
    }
    100% {
        left: 0px;
    }
}
